MONGO_URL=mongodb://localhost:27017/Blinkit
COOKIE_PASSWORD=bK8Jd9s1pXc4Z2qL5t7HfN3mWjE0aR6u
ACCESS_TOKEN_SECRET=e7d5h8Lq2pNc3Tj7VwXz1Ks6aYg9UqR4
REFRESH_TOKEN_SECRET=m9Tq6Yx2VjL8Wc5Bz1Fh4Pp3Rg7NwJ0u
